
.UploadPageHeading {
    padding-top: 15px;
    animation: uploadPageHeadingAnimi 3s infinite;
}

@keyframes uploadPageHeadingAnimi {
    0% {
        text-shadow: 1px 2px 5px lightblue;
    }
    50% {
        /* color: white; */
        text-shadow: 1px 2px 5px teal;
    }
    100% {
        text-shadow: 1px 2px 5px lightblue;
    }
}

.chipTagInput {
    padding: 10px !important;
    width: 100%;
    border: 1px solid #ccc !important;
}

.gifFileInput input {
    cursor: pointer !important;
}

.uploadGifButton {
    margin-top: 20px;
    padding: 8px;
    width: 100px;
}

.UploadLoader {
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 8vh;
    left: 0%;
    width: 100%;
    height: 92vh;
}

.UploadLoaderText {
    position: absolute;
    z-index: 3;
    animation: uploadingTextAnimi 3s infinite;
    top: 62%;
    left: 45%;
}

@media (max-width:580px) {
    .UploadLoaderText {
        top: 50%;
        left: 40%;
    }
}

@keyframes uploadingTextAnimi {
    0% {
        text-shadow: 2px 5px 5px teal;
    }
    50% {
        font-weight: 600;
        font-size: larger;
    }
    100% {
        text-shadow: 2px 5px 5px teal;
    }
}